__HOMEWORK 8: PIPELINE__

Full name: Nguyễn Thị Minh Ngọc
<br>
Student ID: 11219280
<br>
Class: DSEB 63

In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder, MinMaxScaler, PowerTransformer
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier 
from sklearn.compose import ColumnTransformer 
from sklearn.pipeline import Pipeline

from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv("../data/bank-additional-full.csv", sep=';')
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

Create a pipeline and test this pipeline
- Encode the label variable with numerical values in order to be able to build machine learning models
- Encode the month, day_of_week, education, housing, loan and default attributes using the OrdinalEncoder class
- Encode the marital, poutcome, contact and job attribute using the OneHotEncoder class
- Transform the duration attribute using PowerTransformer and MinMaxscaler class
- Scale the age, cons.price.idx, cons.conf.idx, nr.employed attributes using MinMaxScaler class
- Use RandomForestClassifier() for modelin

In [3]:
# Encode the label variable with numerical values in order to be able to build machine learning models
data.iloc[:, -1] = data.iloc[:, -1].map({'yes': 1, 'no': 0})

In [4]:
ordinal_order = [['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec'],
                 ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun'],
                 ['illiterate', 'basic.4y', 'basic.6y', 'basic.9y', 'high.school', 'professional.course', 'university.degree', 'unknown'],
                 ['no', 'yes', 'unknown'],
                 ['no', 'yes', 'unknown'],
                 ['no', 'yes', 'unknown']]

In [5]:
preprocessor = ColumnTransformer(transformers=[
    ('ordinal', OrdinalEncoder(categories=ordinal_order), ['month', 'day_of_week', 'education', 'housing', 'loan', 'default']),
    ('onehot', OneHotEncoder(), ['marital', 'poutcome', 'contact', 'job']),
    ('power', PowerTransformer(method='yeo-johnson', standardize=True), ['duration']),
    ('scale', MinMaxScaler(), ['age', 'cons.price.idx', 'cons.conf.idx', 'nr.employed', 'duration'])])

In [6]:
pipeline = Pipeline([('preprocessor', preprocessor), ('classsifier', RandomForestClassifier())])

In [7]:
x_train, x_test, y_train, y_test = train_test_split(data.iloc[:, :-1], data.iloc[:, -1], test_size=0.2, random_state=50)

In [8]:
y_train = y_train.astype(int)
y_test = y_test.astype(int)

In [9]:
pipeline.fit(x_train, y_train), y_train

(Pipeline(steps=[('preprocessor',
                  ColumnTransformer(transformers=[('ordinal',
                                                   OrdinalEncoder(categories=[['jan',
                                                                               'feb',
                                                                               'mar',
                                                                               'apr',
                                                                               'may',
                                                                               'jun',
                                                                               'jul',
                                                                               'aug',
                                                                               'sep',
                                                                               'oct',
                                                                               'nov',
                                                                               'dec'],
                                                                              ['mon',
                                                                               'tue',
                                                                               'wed',
                                                                               'thu',
                                                                               'fri',
                                                                               'sat',
                                                                               'sun'],
                                                                              ['illiterate',
                                                                               'basic.4y',
                                                                               'basic.6y',
                                                                               'basic.9y',
                                                                               'high.school',
                                                                               'professional.course',
                                                                               'university.degree',
                                                                               'unknown'],
                                                                              ['no',
                                                                               'yes',
                                                                               'unk...
                                                                               'yes',
                                                                               'unknown'],
                                                                              ['no',
                                                                               'yes',
                                                                               'unknown']]),
                                                   ['month', 'day_of_week',
                                                    'education', 'housing',
                                                    'loan', 'default']),
                                                  ('onehot', OneHotEncoder(),
                                                   ['marital', 'poutcome',
                                                    'contact', 'job']),
                                                  ('power', PowerTransformer(),
                                                   ['duration']),
                                                  ('scale', MinMaxScaler(),
                                                   ['age', 'cons.price.idx',
                                                    'cons.conf.idx',
                                                    'nr.employed',
                                                    'duration'])])),
                 ('classsifier', RandomForestClassifier())]),
 33479    1
 36397    0
 10925    0
 8877     0
 32199    0
         ..
 32022    0
 41030    1
 22637    0
 38368    0
 14000    1
 Name: y, Length: 32950, dtype: int32)

In [10]:
y_predict = pipeline.predict(x_test)

In [11]:
accuracy_score(y_test, y_predict)

0.9087157076960427